<h1>create post</h1>
<form action="/posts" accept-charset="UTF-8" method="post">

<p>
  <input placeholder="name of blog" type="text" name="name"/><br><br>
  <input placeholder="content of blog" type="text" name="content"><br><br>
  <input type="submit" value="Create Post" />
</p>

</form>

<a class="link" href="/posts">nevermind</a>
